[Unit]
Description=ZZZ Console Service
Documentation=https://github.com/onlythezzz5-spec/zzz-console
After=network.target
Wants=network.target

[Service]
Restart=always
TimeoutStopSec=20s

Environment="XRAY_VMESS_AEAD_FORCED=false"
Type=simple
WorkingDirectory=/usr/local/zzz/
ExecStart=/usr/local/zzz/zzz
RestartSec=5s

[Install]
WantedBy=multi-user.target
